@page "/formcomponent"

<h3>FormComponent</h3>


<div class="form-container">
    <form class="select-bank-form">
        <select></select>
    </form>

    <div class="bank-data-panel">
        <div class="data-key-value">
            <span class="key">Account Id</span>
            <span class="value">34234</span>
        </div>

        <div class="data-key-value">
            <span class="key">Name</span>
            <span class="value">Bank Example</span>
        </div>

        <div class="data-key-value">
            <span class="key">Currency</span>
            <span class="value">$22,34 USD</span>
        </div>

        <div class="data-key-value">
            <span class="key">Account Id</span>
            <span class="value">34234</span>
        </div>
    </div>

    <table>
        <tr>
            <th>
                Informação 01
            </th>
            <th>
                Informação 02
            </th>
            <th>
                Informação 03
            </th>
            <th>
                Informação 04
            </th>
            <th>
                Informação 05
            </th>
            <th>
                Informação 06
            </th>
        </tr>
       <tbody>
            <tr>
                <th>
                    Valor 01
                </th>
                <th>
                    Valor 02
                </th>
                <th>
                    Valor 03
                </th>
                <th>
                    Valor 04
                </th>
                <th>
                    Valor 05
                </th>
                <th>
                    Valor 06
                </th>
            </tr>

            <tr>
                <th>
                    Valor 01
                </th>
                <th>
                    Valor 02
                </th>
                <th>
                    Valor 03
                </th>
                <th>
                    Valor 04
                </th>
                <th>
                    Valor 05
                </th>
                <th>
                    Valor 06
                </th>
            </tr>
        </tbody>
    </table>


    <div class="insert-transaction-form">

        <h2>Formulário de Cadastro de Transação</h2>
        <div class="label-input-container">
            <label>Primeira Label: </label>
            <input type="text"/>
        </div>

        <div class="label-input-container">
            <label>Primeira Label: </label>
            <input type="text"/>
        </div>

        <div class="label-input-container">
            <label>Primeira Label: </label>
            <input type="text"/>
        </div>

        <div class="label-input-container">
            <label>Primeira Label: </label>
            <input type="text"/>
        </div>

        <div class="label-input-container">
            <label>Primeira Label: </label>
            <input type="text"/>
        </div>
    </div>
</div>

@code {

}
